# .gitignore for .NET (Backend)

# Visual Studio cache
/.vs/

# Build artifacts
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user

# Environment files
.env
/Tutorz.Infrastructure/Migrations/20251230182812_AddedRegistrationFields.cs
/Tutorz.Infrastructure/Migrations/20251230182812_AddedRegistrationFields.Designer.cs
/Tutorz.Infrastructure/Migrations/20251230184701_AddedRegistrationField.cs
/Tutorz.Infrastructure/Migrations/20251230184701_AddedRegistrationField.Designer.cs
/Tutorz.Infrastructure/Migrations/TutorzDbContextModelSnapshot.cs
/Tutorz.Api/wwwroot/wwwroot/qrcodes/INS26201_745e952a.png
/Tutorz.Api/wwwroot/wwwroot/qrcodes/STU26201_6a2a11e7.png
/Tutorz.Api/wwwroot/wwwroot/qrcodes/STU26202_3e97c2b4.png
/Tutorz.Api/wwwroot/wwwroot/qrcodes/TUT26201_bfc1e678.png
/Tutorz.Api/wwwroot/wwwroot/qrcodes/STU26206_0c832b83.png
/Tutorz.Api/wwwroot/wwwroot/qrcodes
