# .gitignore for .NET (Backend)

# Visual Studio cache
/.vs/

# Build artifacts
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user

# Environment files
.env
/Tutorz.Infrastructure/Migrations/20251230182812_AddedRegistrationFields.cs
/Tutorz.Infrastructure/Migrations/20251230182812_AddedRegistrationFields.Designer.cs
/Tutorz.Infrastructure/Migrations/20251230184701_AddedRegistrationField.cs
/Tutorz.Infrastructure/Migrations/20251230184701_AddedRegistrationField.Designer.cs
/Tutorz.Infrastructure/Migrations/TutorzDbContextModelSnapshot.cs
